<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Subscriber) %>
<% end %>

<% content_for :page_actions do %>
  <span id="new_ot_link">
    <%= button_link_to Spree.t(:download), download_admin_subscribers_path(format: :xls), { class: 'btn-success', icon: 'download' } %>
  </span>
<% end %>

<div id="new_subscriber"></div>

<% if @collection.any? %>
  <table class="table" id="listing_subscribers">
    <thead>
    <tr data-hook="admin_subscribers_index_headers">
      <th><%= Spree.t(:email) %></th>
      <th data-hook="admin_subscribers_index_header_actions" class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <% @collection.each do |subscriber| %>
      <tr id="<%= spree_dom_id subscriber %>" data-hook="admin_subscribers_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= subscriber.email %></td>
        <td class="actions actions-3 text-right" data-hook="admin_subscribers_index_row_actions">
          <%= link_to_delete subscriber, no_text: true if can?(:delete, subscriber) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Subscriber)) %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
