<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @downloads_category } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:downloads_categories), admin_downloads_categories_url %> /
  <%= Spree.t(:new_category) %>
<% end %>

<%= form_for [:admin, @downloads_category] do |f| %>
  <fieldset data-hook="new_downloads_category">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
