<meta charset="utf-8">
<title><%= title %></title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<%== meta_data_tags %>
<meta property="og:title" content="<%= current_store.og_title %>"/>
<meta property="og:image" content="<%= [current_store.url, current_store.og_image.url].join %>"/>
<meta property="og:site_name" content="<%= current_store.name %>"/>
<meta property="og:description" content="<%= current_store.og_description %>"/>
<%= canonical_tag %>
<%= csrf_meta_tags %>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

<%= render 'spree/shared/paths' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
